.dashboard-container {
  .banner-container {
    .banner-image {
      height: 350px;
      width: 100%;
      background-image: url('./../../../../assets/images/banner.jpg');
      background-size: cover;
      background-repeat: no-repeat;
      background-position: right;
      display: flex;
      align-items: flex-end;

      .navbar-container {
        display: flex;
        width: 100%;
        justify-content: center;
        gap: 10px;
        background: var(--primary);
        padding: 5px 0;

        button {
          color: var(--gray);
        }
      }
    }
  }

  .statistics-container {
    display: grid;
    width: 100%;
    grid-template-columns: 40% 40%;
    gap: 20px;
    text-align: center;
    justify-content: center;
    margin: 30px 0;

    .stat-box {
      border-bottom: 5px solid var(--secondary);
      color: var(--secondary);
      padding: 20px 10px;
      display: flex;
      justify-content: space-between;
      font-size: 22px;
      border-radius: 5px;
      align-items: center;
      max-width: 450px;
      margin: auto;
      width: 100%;
      transition: 0.5s;
      background-image: linear-gradient(to right,
          hsl(211, 100%, 50%),
          hsl(179, 100%, 30%));
      position: relative;

      &::before {
        position: absolute;
        content: "";
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        background-image: linear-gradient(to bottom,
            hsl(344, 100%, 50%),
            hsl(31, 100%, 40%));
        z-index: -1;
        transition: opacity 0.5s linear;
        opacity: 0;
      }

      &:hover::before {
        opacity: 1;
      }


      // &:hover {
      //   background-color: var(--secondary);
      //   color: var(--white);
      //   transition: 0.5s;
      // }

      .stat-label {
        display: flex;
        gap: 5px;
        align-items: center;
      }
    }
  }
}
