<div class="create-team-container container-fluid">
  <div class="create-team-form col-8">
    <div class="form-container">
      <fieldset>
        <legend>
          <label>{{i18n("createMatch.title")}}</label>
        </legend>

        <div class="team-sections">
          <div class="section" *ngFor="let section of formInputs.sections">
            <div class="section-title">{{section.label}}</div>
            <hr>
            <div class="secction-inputs">
              <mat-form-field appearance="fill">
                <mat-label>{{section.inputs.label}}</mat-label>
                <mat-select>
                  <mat-option *ngFor="let option of section.inputs.optionList" [value]="option">
                    {{option}}
                  </mat-option>
                </mat-select>
              </mat-form-field>
            </div>
          </div>
        </div>

        <div class="submit-btn-container">
          <button color="primary" mat-stroked-button>
            {{i18n("createTeam.createBtn")}}
          </button>
        </div>
      </fieldset>
    </div>
  </div>
</div>
