// checkbox
::ng-deep .mat-checkbox-checked.mat-accent {
  .mat-checkbox-ripple .mat-ripple-element {
    background-color: var(--secondary) !important;
  }

  .mat-checkbox-background,
  .mat-checkbox-indeterminate.mat-accent .mat-checkbox-background {
    background-color: var(--secondary);
  }
}

::ng-deep .mat-checkbox.mat-accent {
  .mat-checkbox-ripple .mat-ripple-element {
    background-color: var(--secondary) !important;
  }
}

// text input
::ng-deep {
  .mat-focused .mat-form-field-ripple {
    /*change color of underline when focused*/
    background-color: var(--secondary) !important;
  }

  .mat-focused .mat-form-field-label {
    /*change color of label when focused*/
    color: var(--secondary) !important;
  }
}

// snackbar button color
::ng-deep {
  .mat-simple-snackbar-action {
    color: var(--secondary);
  }
}