.sidebar-container {
  box-sizing: border-box;
  border-right: 1px solid var(--primary);
  height: 100%;
  width: 250px;
  transition: 1s ease;
  background: var(--primary);
  
  &.hide-sidebar {
    width: 40px;
    transition: 1s ease;
    
    .siderbar-wrapper  {
      transition: 1ms ease;
      transition-delay: 3s;
      display: none;
    }
  }

  .sidebar-btn-container {
    text-align: right;
  }
  
  .siderbar-wrapper {
    transition: 1ms ease;
    transition-delay: 3s;
    display: flex;
    flex-direction: column;
    padding: 10px;
  }
}
